* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.social-item {
  font-size: 18px;
  padding: 10px;
  margin-left: 2em;
}

.social-item a {
  color: #888;
  margin-left: 13px;
}

.social-item a i:hover {
  color: #f4511e;
}

.topbar-child2 {
  position: absolute;
  height: 90%;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 38px;
}

.topbar-child2 .topbar-email {
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #888;
  line-height: 2.7;
  margin-right: 25px;
}

.topbar-child2 .money {
  outline: none;
  border: transparent;
  background: transparent;
}

.logo {
  margin-left: 3.5em;
  left: 52px;
  top: 50%;
}

.header-icons-noti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #111;
  color: #fff;
  font-family: Montserrat-Medium;
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 103px;
}

.imgs img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

.carousel p {
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: white;
  line-height: 1.5;
  letter-spacing: 2px;
}

.carousel h2 {
  font-size: 6em;
}

.carousel button {
  border-radius: 25px;
  font-size: 1.4em;
  margin-top: 75px;
}

.carousel-item div {
  top: 14%;
  left: 14%;
}

.sale {
  position: relative;
}

.sale h4 {
  position: absolute;
  top: 62px;
  right: 22px;
  max-width: 294px;
  font-family: Montserrat-Medium;
  font-size: 33px;
  color: #111111;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 8px;
}

.sale p {
  position: absolute;
  top: 150px;
  left: 43px;
  max-width: 257px;
  text-align: center;
  font-family: Montserrat-Regular;
  font-size: 19px;
  line-height: 1.3;
  color: #888888;
  margin: auto;
}

.sale a {
  position: absolute;
  top: 265px;
  left: 83px;
  border-radius: 23px;
  background-color: #111111;
  width: 50%;
  height: 46px;
  font-family: Montserrat-Regular;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  font-weight: 400;
  text-decoration: none;
  margin: 0;
  padding: 10px;
}

.featured {
  position: relative;
}

.featured .frstpic .news {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 2px 15px;
  font-size: 12px;
  border-radius: 10em;
  background-color: green;
  color: white;
}

.featured .frstpic a {
  outline: none;
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #555555;
  line-height: 1.5;
  display: block;
  padding-bottom: 5px;
  margin: 0px;
  text-decoration: none;
}

.featured .frstpic .mny {
  font-family: Montserrat-Regular;
  font-size: 16px;
  color: #555555;
  text-transform: uppercase;
}

.featured .frstpic .sale {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 2px 15px;
  font-size: 12px;
  border-radius: 10em;
  background-color: red;
  color: white;
}

.bgclr {
  background-color: #888;
}

.bgclr .col-md-6 {
  position: relative;
}

.bgclr .col-md-6 .text-holder {
  text-align: center;
}

.bgclr .col-md-6 .tms {
  position: absolute;
  top: 88%;
  left: 25%;
  width: 50%;
  margin: auto;
}

.bgclr .col-md-6 .tms p {
  border: 1px solid #dbdbdb;
  width: 2.6em;
  padding: 4px;
  text-align: center;
  font-family: " Montserrat-Regular";
  font-size: 1.2em;
  color: #555555;
  line-height: 1;
  color: #999;
}

.bgclr img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bgclr .cllctn {
  position: absolute;
  top: 45%;
  left: 22%;
  text-align: center;
}

.bgclr .cllctn p {
  font-family: Montserrat-Bold;
  font-size: 40px;
  color: white;
  line-height: 1.2;
  letter-spacing: 2px;
}

.bgclr .cllctn h3 {
  font-family: Montserrat-Bold;
  font-size: 60px;
  color: white;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.bgclr .cllctn a {
  font-family: Montserrat-Regular;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.dollar {
  position: absolute;
  top: 61%;
  left: 38%;
}

.dollar a {
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #555;
  line-height: 1.5;
  text-decoration: none;
}

.dollar a:hover {
  color: #f4511e;
}

.dollar s {
  font-family: "Montserrat-Regular";
  font-size: 20px;
  color: #555;
  text-transform: uppercase;
  text-decoration: line-through;
}

.dollar p {
  font-family: Montserrat-Regular;
  font-size: 20px;
  color: #e65540;
  text-transform: uppercase;
}

.hhh {
  font-family: Montserrat-Bold;
  font-size: 30px;
  color: #222;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.ourBlog h4 a {
  font-family: "Montserrat-Medium";
  font-size: 0.8em;
  color: #333;
  line-height: 1.3;
  text-decoration: none;
}

.ourBlog h4 a:hover {
  color: red;
}

.ourBlog p {
  font-family: Montserrat-Regular;
  font-size: 0.9em;
  color: #555;
  line-height: 1.8;
}

.ourBlog p span {
  font-family: "Montserrat-Regular";
  font-size: 0.9em;
  color: #999;
  line-height: 1.8;
}

.ourBlog .ppp {
  font-family: Montserrat-Regular;
  font-size: 0.9em;
  color: #888;
  line-height: 1.2;
}

.col {
  padding: 0;
}

.col img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background: #dbdbdb;
}

footer .get-in-touch p {
  font-family: "Montserrat-Regular";
  font-size: 0.9em;
  color: #555;
  line-height: 1.8;
}

footer li {
  padding: 0.3em;
  color: #888888;
  font-size: 1em;
  list-style: none;
}

footer li i {
  font-size: 1em;
  color: #888888;
}

footer li i:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: #e67e22;
  cursor: pointer;
}

footer li:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: chocolate;
  cursor: pointer;
}

footer .email button {
  width: 53%;
  height: 3em;
  border-radius: 3em;
  outline: none;
}

footer .email button:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: #e67e22;
  cursor: pointer;
}

footer .email input {
  width: 50%;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  background: transparent;
}

.headerPage2 .topbar-child1 {
  color: white;
}

.headerPage2 .topbar-child1 a {
  color: white;
}

.headerPage2 .topbar-child2 {
  position: static;
  right: 30%;
}

.headerPage2 .header-icons-noti {
  right: 16%;
  top: 22%;
}

.headerPage2 .logo {
  margin-left: 15em;
}

.secStep img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.frstpic img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hompg3 a:hover {
  color: #888888;
}

.hompg3 li {
  list-style: none;
}

.hompg3 a {
  color: #888888;
}

.hompg3 ul {
  padding: 0;
  margin: 0;
}

.hompg3 nav li {
  padding-top: 0.7em;
}

.hompg3 .social li {
  padding: 0 1em 0 0;
  font-size: 20px;
}

.hompg3 .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.hompg3 .icon a {
  padding: 1em;
}

.hompg3 .icon .backet {
  position: relative;
}

.hompg3 .icon span {
  position: absolute;
  top: 0;
  left: 2.4em;
}

.mainpagethird img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainpagethird h2 {
  color: black;
}

.mainpagethird p {
  font-family: "Montserrat-Regular";
  font-size: 1em;
  color: #888888;
  line-height: 1.5;
  letter-spacing: 2px;
}

.bannerr {
  background-image: url(../img/bg-banner-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.bannerr img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bannerr .shopItem {
  position: relative;
  width: 40%;
}

.bannerr p {
  border: 1px solid #dbdbdb;
  width: 2.6em;
  padding: 4px;
  text-align: center;
  font-family: " Montserrat-Regular";
  font-size: 1.2em;
  color: #555555;
  line-height: 1;
  color: #999;
}

.bannerr .tms {
  position: absolute;
  top: 85%;
  left: 15%;
  width: 70%;
}

.bg-title {
  background-image: url(../img/heading-pages-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 13em;
}

.bg-title h2 {
  font-family: "Montserrat-Bold";
  font-size: 4.2em;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: bold;
}

.bg-title p {
  font-family: "Montserrat-Regular";
  font-size: 1.2em;
  color: #fff;
  line-height: 1.8;
}

.Categories .filter {
  border-radius: 15px;
  background-color: black;
  width: 45%;
  height: 36px;
  font-family: "Montserrat-Regular";
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
}

.Categories .filter:hover {
  background-color: #e67e22;
}

.Categories .colors ul li {
  margin-right: 0.8em;
}

.Categories .colors ul .li-style {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
}

.Categories .colors .color-filter {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%;
}

.Categories .colors .yellow {
  background-color: yellow;
}

.Categories .colors .red {
  background-color: red;
}

.Categories .colors .black {
  background-color: black;
}

.Categories .colors .grey {
  background-color: grey;
}

.Categories .colors .white {
  background-color: #dbdbdb;
}

.Categories .colors .blue {
  background-color: blue;
}

.Categories .colors .green {
  background-color: green;
}

.Categories .colors .checkbox-color-filter {
  display: none;
}

.Categories h5 {
  font-family: "Montserrat-Medium";
  font-size: 1.2em;
  color: #555;
  line-height: 1.5;
}

.Categories h4 {
  font-family: "Montserrat-Black";
  font-size: 1.5em;
  color: #333;
  line-height: 2;
  font-weight: bold;
}

.Categories ul {
  list-style-type: none;
}

.Categories li a {
  font-family: "Montserrat-Regular";
  font-size: 15px;
  color: #888;
  line-height: 1.8;
  text-decoration: none;
}

.Categories li a:hover {
  color: #e67e22;
}

.actve-pagination li .page-link {
  display: inline-block;
  background-color: #222 !important;
  color: #fff;
  font-family: "Montserrat-Regular";
  font-size: 13px;
  width: 36px;
  height: 36px;
  border-radius: 50% !important;
  border: 1px solid #eee;
  margin: 6px;
  text-decoration: none;
  text-align: center;
}

.input-group input {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  overflow: hidden;
  width: 74%;
  height: 56px;
  font-family: "Montserrat-Regular";
  font-size: 1em;
  color: #555;
  line-height: 1.8;
}

.carts .bg-title {
  background-image: url(../img/heading-pages-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 13em;
}

.carts .bg-title h2 {
  font-family: "Montserrat-Bold";
  font-size: 4.2em;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: bold;
}

.wine-page-title {
  margin: 50px 0 75px;
  font-family: "Cinzel", serif;
  text-align: center;
}

.wine-page-title h1 {
  font-size: 34px;
  text-transform: capitalize;
}

.wine-orders .btn-primary {
  background-color: black;
  border-color: #888;
  color: #fff;
}

.wine-orders .btn-primary:hover {
  color: #fff;
  background-color: #e67e22;
  border-color: #888;
}

.wine-orders .site-blocks-table {
  overflow: auto;
}

.wine-orders .site-blocks-table .table .wine-table-title {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
}

.wine-orders .site-blocks-table .table thead th {
  padding: 30px;
}

.wine-orders .site-blocks-table .table tbody tr td {
  font-family: montserrat;
  text-align: center;
  color: #000;
  width: 200px;
  vertical-align: middle;
}

.wine-orders .site-blocks-table .table tbody tr td .wine-plus-minus .counter {
  width: 50px;
  height: 38px;
  text-align: center;
  font-size: 16px;
}

.wine-orders .site-blocks-table .table tbody tr td .wine-plus-minus .up_count,
.wine-orders .site-blocks-table .table tbody tr td .wine-plus-minus .down_count {
  color: white;
  background-color: #888888;
  border-color: #888;
  font-size: 16px;
}

.wine-orders .site-blocks-table .table tbody tr td .wine-plus-minus .up_count:hover,
.wine-orders .site-blocks-table .table tbody tr td .wine-plus-minus .down_count:hover {
  color: #fff;
  background-color: black;
  border-color: #888;
}

.wine-orders .site-blocks-table .table tbody tr td .wine-plus-minus .down_count {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -5px;
}

.wine-orders .site-blocks-table .table tbody tr td .wine-plus-minus .up_count {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -4px;
}

.wine-orders .site-blocks-table .table tbody tr td .btn {
  background-color: black;
  border-color: #888;
  font-weight: 600;
}

.wine-submit-orders {
  padding: 50px 0 100px;
  margin-top: 50px;
}

.wine-submit-orders .btn-outline-primary {
  border-color: black;
  color: black;
}

.wine-submit-orders .btn-outline-primary:hover {
  background-color: #e67e22;
  border-color: #888;
  color: #fff;
}

.wine-submit-orders p {
  color: gray;
}

.blogs .bg-title {
  background-image: url(../img/heading-pages-05.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 13em;
}

.blogs .bg-title h2 {
  font-family: Montserrat-Bold;
  font-size: 50px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
}

.blogs-img img {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs-img .date-blog {
  position: absolute;
  top: 59%;
  left: 2%;
  background-color: black;
  color: white;
  width: 120px;
  height: 30px;
  font-family: 'Montserrat-Regular';
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
}

.blogs-img h4 a {
  font-family: 'Montserrat-Medium';
  font-size: 1.2em;
  font-weight: 400;
  color: #333;
  line-height: 1.3;
}

.blogs-img h4 a:hover {
  color: #e67e22;
}

.blogs-img span {
  font-family: 'Montserrat-Regular';
  font-size: 0.9em;
  color: #888;
  line-height: 1.8;
}

.blogs-img p {
  font-family: 'Montserrat-Regular';
  font-size: 1em;
  line-height: 1.7;
  color: #888;
  margin: 0;
}

.blogs-img a {
  font-family: 'Montserrat-Regular';
  font-size: 1em;
  color: #555;
  line-height: 1.2;
}

.blogs-img a:hover {
  text-decoration: none;
  color: #e67e22;
}
/*# sourceMappingURL=custom.css.map */