

.container-menu-header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1100;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
}
.topbar {
    background-color: #f5f5f5;

}
.topbar-social {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

/* .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
   
} */
.topbar-child1 {
    font-family: Montserrat-Regular;
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
    color: #888;
    line-height: 2.7;
}
.dropbtn {
    background-color: white;
    color: blue;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.993);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: inline-block;}
  
  .dropdown:hover .dropbtn {background-color: white;}
  #totop {
    /* padding: 20px 10px; */
    outline: none;
    text-decoration: none;
  }
  #totop .fas {
    font-size: 34px;
    position: fixed;
    width: 40px;
    height: 35px;
    bottom: 50px;
    text-align: center;
    right: 0px;
    background-color: black;
    color: white;
  }
  
  
  
  
  html {
    scroll-behavior: smooth;
  }
  